$primary-color: #0078ff;
$secondary-color: #1e1e1e;

body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	background-color: #0e0e0e;
}

.baseContainer{
	width: 85%;
    min-height: calc(100vh - 40px);
    margin: 20px auto;
    background-color: #fff;
    position: relative;
}