.container{
	background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.gridContainer{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin: 30px 130px;
}
.content{
	flex: 1 0 auto;
}