@import '../../../base.scss';

.container{
	position: absolute;
	bottom: 0;
	width: 100%;
	color: grey;
	background-color: $secondary-color;
	height: 200px;
	font-size: 13px;
}
.innerContainer{
	margin: 40px 130px 40px;
}
nav{
	margin-bottom: 15px;
}
.external{
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}
nav > a{
	display: inline-block;
	margin-right: 10px;
	color: #aeaeae;
	text-decoration: none;
}
nav > a:after{
	content: '|';
	margin-left: 10px;
}
nav > a:last-child:after{
	content: none;
}
div.store img{
	/*display: block;*/
	margin-right: 20px;
}
.social *{
	margin-right: 20px;
}