@import '../../../base.scss';


.gridItem{
	height: 300px;
	margin: auto;
}
.productImageContainer{
	height: 83%;
	padding: 10px 0;
}
.productImage{
	height: 100%;
	img{
		display: block;
		height: 100%;
		margin: auto;
	}
}
.productDetailsContainer{
	font-size: 14px;
}
.productTitle{
	margin-top: 5px;
	margin-bottom: 2px;
}